@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #1F1534;
    --white: #FFFFFF;
    --text-color: #7D7987;
    --accent-color: #458FF6;

}

* {
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 79em;
    padding-inline: 2em;
    margin: auto;
}

@media (max-width: 680px) {
    .container {
        padding-inline: 1.5em;
    }
}

a.solid-btn {
    background-color: var(--accent-color);
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    display: inline-block;
    transition: all 500ms ease;
}

a.solid-btn:hover {
    background-color: var(--black);
}

a.outline-btn {
    background-color: var(--white);
    color: var(--accent-color);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 100px;
    border: 1px solid var(--accent-color);
    display: inline-block;
    transition: all 500ms ease;
}

a.outline-btn:hover {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
}

h1 {
    font-size: 65px;
    line-height: 65px;
}

h2 {
    font-size: 36px;
}

p {
    color: var(--text-color);
}

@media (max-width: 780px) {
    h1 {
        font-size: 45px;
        line-height: 45px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
        line-height: 32px;
    }

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 28px;
    }
}

.heading-and-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    margin-inline: auto;
}

.heading-and-description .divider {
    width: 50px;
    height: 6px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

@media (max-width: 780px) {
    .heading-and-description {
        width: 100%;
        padding-top: 30px;
    }
}

@media (max-width: 480px) {
    .heading-and-description h2 {
        font-size: 26px;
    }

    .heading-and-description .divider {
        width: 40px;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 10px;
    }
}

.two-col-flex {
    display: flex;
    gap: 100px;
    align-items: center;
    max-width: 70em;
}

.two-col-flex .image-column {
    max-width: 500px;
}

.two-col-flex .text-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.two-col-flex .text-column .outline-btn {
    margin-top: 10px;
}

@media (max-width: 980px) {
    .two-col-flex {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .two-col-flex .image-column {
        max-width: 60%;
    }

    .two-col-flex .text-column {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 580px) {
    .two-col-flex .image-column {
        max-width: 80%;
    }
}

/* header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px;
}

@media (max-width: 980px) {
    header .container {
        padding-block: 30px;
    }
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

header a {
    text-decoration: none;
    color: var(--black);
    position: relative;
}

header a::after {
    content: "";
    width: 20px;
    height: 5px;
    background-color: var(--accent-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    position: absolute;
    border-radius: 20px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

header a:hover::after {
    opacity: 1;
}

header a.active {
    font-weight: 800;
    color: var(--accent-color);
}

.hamburger {
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    padding: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger:hover {
    background-color: #458ff621;
}

.hamburger img {
    width: 25px;
}

@media (max-width: 980px) {
    .hamburger {
        display: flex;
    }

    header nav {
        display: none;
    }
}

/* HERO */

.hero {
    padding-block: 50px;
    background-image: url(images/hero\ bg\ deco.svg);
    background-repeat: no-repeat;
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.hero-img {
    width: 60%;
}

.hero .text-and-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.hero .solid-btn {
    margin-top: 20px;
}

@media (max-width: 980px) {

    .hero {
        padding-block: 30px;
    }

    .hero .container {
        flex-direction: column;
        gap: 50px;
    }

    .hero-img {
        width: 50%;
    }

    .hero .text-and-btn {
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    .hero .solid-btn {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .hero .container {
        gap: 30px;
    }

    .hero-img {
        width: 80%;
    }

    .hero .solid-btn {
        margin-top: 10px;
    }
}

/* services section */

.services {
    background-image: url(images/services_bg.svg);
    background-repeat: no-repeat;
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-block: 80px;
}

.services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 65em;
    margin-inline: auto;
}

.services-cards .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: start;
    background-color: var(--white);
}

.services-cards .card .icon {
    height: 50px;
}

@media (max-width: 980px) {
    .services-cards .card {
        padding: 20px;
        gap: 10px;
    }
}

@media (max-width: 880px) {
    .services-cards .card {
        padding: 30px;
        gap: 15px;
    }

    .services-cards {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 780px) {
    .services .container {
        gap: 30px;
        padding: 0px 1.5em 50px 1.5em;
    }
}

@media (max-width: 580px) {
    .services-cards {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

/* leading section */

.leading .heading-and-description {
    text-align: start;
    gap: 20px;
}

/* download section */

.download {
    padding: 80px 0;
    background-image: url(images/hero\ bg\ deco.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.download .two-col-flex {
    flex-direction: row-reverse;
}

.download .heading-and-description {
    text-align: start;
    gap: 20px;
}

@media (max-width: 980px) {
    .download .two-col-flex {
        flex-direction: column-reverse;
    }
}

/* Testimonial section */

.testimonials {
    padding-bottom: 80px;
}

.testimonials .container {
    background-image: url(images/hero\ bg\ deco.svg);
    background-repeat: no-repeat;
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.testimonial-card {
    padding: 60px;
    background-color: var(--accent-color);
    background-image: url(images/white-dots.svg);
    background-repeat: no-repeat;
    background-position: top right;
    color: var(--white);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.testimonials .divider {
    background-color: var(--white);
}

.testimonial-details {
    display: flex;
    gap: 60px;
    align-items: center;
}

.testimonial-details .founder {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 600px;
}

.testimonial-details .founder .avatar {
    width: 100px;
    height: 100px;
    border: 2px solid var(--white);
    background-image: url(images/guy.png);
    background-size: cover;
    border-radius: 150px;
}

.testimonial-details p {
    color: var(--white);
}

.testimonial-card .name {
    font-weight: 800;
    font-size: 22px;
}

.testimonials .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.testimonials .pagination img {
    cursor: pointer;
}

.nav-circles {
    display: flex;
    gap: 10px;
}

.nav-circles .circle {
    width: 10px;
    height: 10px;
    background-color: #5b9af334;
    border-radius: 10px;
    cursor: pointer;
}

.nav-circles .circle.active {
    background-color: #5b9af3;
}

@media (max-width: 1200px) {
    .testimonials .container {
        padding-inline: 50px;
    }
}

@media (max-width: 980px) {
    .testimonials .container {
        padding-inline: 50px;
    }

    .testimonial-card {
        padding: 40px;
    }

    .testimonials .heading-and-description {
        width: 100%;
    }

    .testimonial-card {
        gap: 20px;
    }

    .testimonial-details {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

@media (max-width: 780px) {
    .testimonial-details {
        flex-direction: column;
        gap: 20px;
    }

    .testimonials .heading-and-description {
        padding-top: 0;
    }

    .testimonial-details .founder {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        text-align: center;
    }

    .testimonial-details .statement {
        text-align: center;
    }

    .testimonials .pagination {
        gap: 50px;
    }
}

/* blog */

.blog {
    background-image: url(images/blog-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;

}

.blog .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.blog-image {
    height: 250px;
}

.blog-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-items {
    display: flex;
    gap: 30px;

    background-image: url(images/hero\ bg\ deco.svg);
    background-repeat: no-repeat;
    padding: 4em 4em 2em 4em;
}

.blog-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-text a {
    text-decoration: none;
    color: var(--accent-color);
    display: block;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}